@media (min-width: 1700px) {

  .container {
    max-width: 1660px;
  }

}

@media (max-width: 1199px) {

  .container {
    max-width: none;
  }
  .element-post-carousel {
    .owl-carousel {
      .owl-nav {
        display: none;
      }
    }
  }

}

@media (min-width: 992px) and (max-width: 1400px) {

  .site-menu ul li:nth-last-child(1),
  .site-menu ul li:nth-last-child(2) {
    .sub-menu {
      left: auto;
      right: 0;

      li {
        .sub-menu {
          left: auto;
          right: 90%;
        }

        &:hover {
          > .sub-menu {
            left: auto;
            right: 100%;
          }
        }
      }
    }
  }

}

@media (min-width: 992px) and (max-width: 1200px) {

  .site-menu {
    ul {
      li {
        a {
          padding: 0 7px;
        }
      }
    }
  }

}

@media (min-width: 992px) {

  .active-sticky-nav {
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .admin-bar {
    .main-navigation {
      &.active-sticky-nav {
        top: 32px;
      }
    }
  }

  .site-menu {
    > ul {
      height: 100%;

      > li {
        display: inline-flex;
        height: 100%;
        @include align-items(center);
      }
    }

    ul {
      li {
        .sub-menu {
          display: block !important;

          li {
            display: flex;

            a {
              @include flex(1);
            }

            .sub-menu-toggle {
              margin-left: 6px;
            }

            &:hover {
              > .sub-menu-toggle {
                &:after {
                  @include transform(rotate(-90deg));
                }
              }
            }
          }
        }
      }
    }
  }

  .modal {
    &.mode-quick-view-product {
      .modal-dialog {
        max-width: 850px;
      }
    }
  }

}

@media (max-width: 991px) {

  .site-navigation_warp {
    display: block;
  }

  .site-logo {
    @include flexbox();
    @include justify-content(space-between);
    @include flex(1);
  }

  .navbar-toggle {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
  }

  .site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #eeeeee;
    z-index: 99;

    .collapse {
      display: none !important;

      &.in {
        display: block !important;
      }
    }

    ul {
      li {
        display: block;
        padding: 0 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        &:last-child {
          border-bottom: 0;
        }

        a {
          display: inline-block;
          padding: 15px 0;
        }

        .sub-menu-toggle {
          position: absolute;
          right: 15px;
          top: 15px;
          width: 12px;
          height: 20px;

          &.active {
            &:after {
              @include transform(rotate(180deg));
            }
          }
        }

        .sub-menu {
          display: none;
          position: static;
          opacity: 1;
          visibility: visible;
          border-top: 0;
          background-color: transparent;
          @include transition-duration(0s);

          li {
            border-bottom: 0;
            padding: 0;

            a {
              padding: 8px 0;

              &:before {
                content: "\f111";
                display: inline-block;
                font-family: 'Font Awesome 5 Free', serif;
                font-style: normal;
                font-weight: 400;
                font-size: 10px;
                margin-right: 10px;
              }
            }

            .sub-menu-toggle {
              top: 5px;
              right: 0;
            }

            .sub-menu {
              padding-left: 20px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  .recent_posts_thumbs_widget_list .recent_posts_thumbs_widget_item,
  .recent_posts_thumbs_widget_fist_large .recent_posts_thumbs_widget_item:nth-child(n+2) {
    @include flex-direction(column);
  }
  .recent_posts_thumbs_widget_list .recent_posts_thumbs_widget_item--image,
  .recent_posts_thumbs_widget_fist_large .recent_posts_thumbs_widget_item:nth-child(n+2) .recent_posts_thumbs_widget_item--image {
    max-width: 100%;
    margin: 0 0 10px;
  }
  .recent_posts_thumbs_widget_grid {
    .recent_posts_thumbs_widget_item {
      width: 100%;
    }
  }

}

@media (max-width: 767px) {

  .site-sidebar {
    padding-top: 50px;
  }

}

@media (max-width: 575px) {

  .comment-form {
    .comment-fields-row {
      margin-bottom: 0;
    }

    .form-comment-item {
      margin-bottom: 15px;
    }
  }

}

@media (max-width: 480px) {

  .comments-area {
    .comment-list {
      li {
        .comment-body {
          margin-bottom: 15px;

          .comment-meta {
            padding-left: 15px;
          }
        }
      }
    }

    ul {
      li {
        ul {
          &.children {
            padding-left: 10px;
          }
        }
      }
    }
  }

}