// Color
$color-primary: #231F20;
$color-title: #388189;
$color-hover: #388189;
$color-white: #ffffff;
$color-submenu: #1B1B1B;
$color-second: #4398A7;
$color-second-body: #474748;

// Background
$background-primary: #333333;
$background-hover: #388189;
$background-second: rgba(0, 0, 0, .6);

// Border color
$border-color: #231F20;