// Font Families
$font-family-text: 'CircularStd', sans-serif;
$font-family-second: 'MyriadPro', sans-serif;

// Font Weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

// Font size
$font-size-primary: 0.9rem;