/* Posts Grid */
.element-post-grid {
  .title {
    text-align: center;
  }

  .item-post {
    margin-bottom: 30px;

    &__thumbnail {
      margin-bottom: 15px;

      a {
        display: block;
      }
    }

    &__title {
      font-size: 18px;
    }

    &__content {
      margin-top: 15px;

      p {
        margin: 0;
        font-size: 14px;
      }
    }
  }
}